.VendingMachine{
    height: 1000px;
    width: 760px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-image:
        url("https://tse3.mm.bing.net/th?id=OIP.etZmcqyAx_OyBrXslvr4-AHaJu")
        ;
}

.VendingMachine-title {
    font-family: cursive;
    font-size: 70px;
    color:darkred;
    text-shadow: 5px 5px 0 rgba(0,0,0,.6);

}